.filterContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
}

.buttonFilters {
  margin-top: 40px;
  border: none;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  cursor: pointer;
  color: #ffffff;
  background-color: #e44848;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonFilters:hover {
  background-color: #d84343;
}