/* .wrapper {
  background-image: url(/public/images/background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 696px;
  padding-left: 55px;
  padding-top: 186px;
  margin: 0 auto;
}
.button {
  background-color: #e44848;
  width: 173px;
  height: 56px;
  border-radius: 200px;
  color: #fafafa;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: #d84343;
}
p {
  font-family: "Inter", sans-serif;
  color: #f7f7f7;
  font-weight: 600;
}
.paragraph {
  font-size: 24px;
  line-height: 1.33333;
  margin-bottom: 40px;
}
.title {
  font-size: 48px;
  line-height: 0.66667;
  margin-bottom: 16px;
} */
